pkgbase = nginx-unit
	pkgdesc = Lightweight, dynamic, open-source server for diverse web applications.
	pkgver = 1.29.0
	pkgrel = 1
	url = https://unit.nginx.org/
	arch = i686
	arch = x86_64
	license = Apache
	makedepends = php-embed
	makedepends = python
	makedepends = python2
	makedepends = go
	makedepends = ruby
	makedepends = perl
	makedepends = npm
	source = https://unit.nginx.org/download/unit-1.29.0.tar.gz
	source = unit.service
	sha256sums = dfa882ff7f74aa1d5e92a7c2d718bda62c4046186e04d465b7c028ab30fd4e66
	sha512sums = 6b0a6718be5c3312f5e17fc39ae35ca849049c97d29c63a7effda7f994274af29eed88970389bb3010a2103c431e69920c951de5004853004d1aa604d868bd9f

pkgname = nginx-unitd
	depends = glibc
	depends = openssl

pkgname = nginx-libunit

pkgname = nginx-unit-python
	depends = nginx-unitd
	depends = python

pkgname = nginx-unit-python2
	depends = nginx-unitd
	depends = python2

pkgname = nginx-unit-php
	depends = nginx-unitd
	depends = php-embed

pkgname = nginx-unit-perl
	arch = any
	depends = nginx-unitd
	depends = perl

pkgname = nginx-unit-ruby
	arch = any
	depends = nginx-unitd
	depends = ruby

pkgname = nginx-unit-nodejs
	arch = any
	depends = nginx-unitd
	depends = nodejs

pkgname = nginx-unit-go
	arch = any
	depends = nginx-unitd
	depends = go
